.radio__radio {
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;
}
.radio__label {
  position: relative;
  padding-left: calc(24px + 8px);
  padding-right: 8px;
  line-height: 24px;
}
.radio__radio + .radio__label::before {
  width: 24px;
  height: 24px;

  position: absolute;
  top: 0;
  left: 0;

  border: #00c0c0 solid 2px;
  border-radius: 12px;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  content: '';

  background-color: #fff;
  transition: all 0.1s ease-in-out;
}
.radio__radio:checked + .radio__label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Ccircle cx='10' cy='10' r='6.5' fill='rgb%2800, 192, 192%29' fill-rule='evenodd' /%3E%3C/svg%3E");
  border-color: #00c0c0;
  color: #fff;
}
.radio__radio:not(:checked) + .radio__label::before {
  border-color: #dadada;
  color: #dadada;
}
